.jumbotron {
  background-image: url("../img/header.jpg");
  background-position: center;
  color: white;
  text-align: right;
  height: 400px;
}

h1, h3 {
  text-shadow: 5px 5px 5px black;
}
h1 {

}

ul li {
  font-weight: bold;
}

#mind {
  font-family: monospace;
  font-size: 18px;
}

#body {
  font-family: fantasy;
  font-size: 18px;
}

#spirit {
  font-family: cursive;
  font-size: 18px;
}

/*.row {
  height: 453px;
}
.col-md-6, .panel {
  height: 100%
}*/

/*@media screen and (min-height: 450px){

}*/
