.show {
  display: block;
}

.hide {
  display: none;
}

.font {
  font-size: 30px;
  border: 2px solid lightblue;
  background-color: rgba(0, 198, 255, 0.3);
  text-align: center;
}

.well {
  background-color: rgba(77, 0, 102, 0.3);
  color: white;
  text-shadow: 1px 1px 6px black;
}

.jumbotron {
  text-align: center;
}

.container {
  background: linear-gradient(to bottom right, white, purple);
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}
