.celebrity-names {
  display: none;
  padding: 15px;
  background: #FDD2D9;
}

img {
  height: 200px;
  width: auto;
  padding: 5px;
}

body {
  text-align: center;
  font-size: 26px;
  background-image: url(http://www.publicdomainpictures.net/pictures/70000/velka/pink-hearts-background.jpg);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  position: fixed;
  z-index: -1;
}

.jumbotron {
  background-color: #FD6E74;
}

.btn {
  background-color: #FD6E74;
  font-size: 30px;
  font-weight: bolder;
}

.btn:active {
  background: #FDD2D9;
  box-shadow: none;
  outline: 0px;
}
